<div class="modal fade" id="leadstatusupdateModal-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url "admin_lead_updated" i.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="redirect_to" value="{% if request.path == '/ActiveLeads/' %}active_leads{% elif request.path == '/LatestLeads/' %}latest_leads{% elif request.path == '/InprocessLeads/' %}inprocess_leads{% elif request.path == '/AppointmentLeads/' %}appointment_leads{% elif request.path == '/DeliveredLeads/' %}delivered_leads{% elif request.path == '/CompletedLeads/' %}completed_leads{% elif request.path == '/EnrolledLeads/' %}enrolled_leads{% else %}new_leads{% endif %}">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Lead Update</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <hr>
                <div class="modal-body">
                    
                   
                <label class="custom-form-label" for="">Lead Status</label>
                <select class="form-select" name="lead_status" id="assign_to_employee">
                    
                    {% for lead in lead %}
                    
                    <option value="{{lead.0}}" {% if lead.0 == i.lead_status %}selected{% endif %}>
                        {% if lead.0 == "New Lead" %}
                        New Lead(Presales)
                        {% elif lead.0 == "Active" %}
                        Active(Assesment)
                        {% elif lead.0 == "PreEnrolled" %}
                        PreEnrolled(Sales)
                        {% elif lead.0 == "Enrolled" %}
                        Enrolled(Documentation)
                        {% elif lead.0 == "Enrolled" %}
                        Enrolled(Documentation)
                        {% elif lead.0 == "Inprocess" %}
                        Inprocess(Visa Team)
                        {% elif lead.0 == "Ready To Submit" %}
                        Ready To Submit(Visa Team)
                        {% elif lead.0 == "Appointment" %}
                        Appointment(Visa Team)
                        {% elif lead.0 == "Ready To Collection" %}
                        Ready To Collection(Visa Team)
                        {% elif lead.0 == "Result" %}
                        Result(Visa Team)
                        {% elif lead.0 == "Delivery" %}
                        Delivery(Visa Team)
                        {% elif lead.0 == "Delivery" %}
                        Delivery(Visa Team)
                        {% elif lead.0 == "Reject" %}
                        Reject

                        {% endif %}
                    </option>
                    
                    {% endfor %}
                    
                   
                </select>
                
            
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
  </div>

   <script>
    // Function to set the value of redirect_to based on the current URL
    function setRedirectTo(currentPath, modalId) {
        var redirectInput = document.querySelector('#' + modalId + ' input[name="redirect_to"]');
        if (currentPath.includes("/ActiveLeads/")) {
            redirectInput.value = "active_leads";
        } else if (currentPath.includes("/LatestLeads/")) {
            redirectInput.value = "latest_leads";
        } else if (currentPath.includes("/InprocessLeads/")) {
            redirectInput.value = "inprocess_leads";
        } else if (currentPath.includes("/AppointmentLeads/")) {
            redirectInput.value = "appointment_leads";
        } else if (currentPath.includes("/DeliveredLeads/")) {
            redirectInput.value = "delivered_leads";
        } else if (currentPath.includes("/CompletedLeads/")) {
            redirectInput.value = "completed_leads";
        } else if (currentPath.includes("/EnrolledLeads/")) {
            redirectInput.value = "enrolled_leads";
        } else {
            redirectInput.value = "new_leads";
        }
    }

    // Call the setRedirectTo function when each modal is shown
    document.addEventListener("DOMContentLoaded", function () {
        var modals = document.querySelectorAll('.modal');
        modals.forEach(function(modal) {
            modal.addEventListener('shown.bs.modal', function () {
                var currentPath = window.location.pathname;
                var modalId = modal.getAttribute('id');
                setRedirectTo(currentPath, modalId);
            });
        });
    });
</script>